<%= simple_form_for resource do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, data: {disable_with: t('views.wait')}, class: 'btn-block' %>

  <p class="text-center">
    <br>
    <%= link_to 'Voltar', action: :index %>
  </p>
<% end %>