<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= t('views.edit_button') %> <%= Wallet.model_name.human %>
        </h2>
      </div>
      <div class="panel-body">
        <%= render 'form', resource: @wallet %>
      </div>
    </div>
  </div>
</div>