<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="panel-title">
              <%= @wallet.name %>
            </h2>
          </div>
          <div class="col-sm-6 text-right">
            <%= link_to t('views.back_button'), {action: :index},
                        class: 'btn btn-default btn-lg' %>
          </div>
        </div>
        <div class="panel-body">
          <%= render 'secure_notes', resource: @wallet %>
        </div>
      </div>
    </div>
  </div>
</div>